.formTextArea{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #97daff
}
.formTextArea_child{
    width: 45%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(236, 235, 235, 027);
    background-blend-mode: lighten;
    box-shadow: inset 2px 2px 30px 5px #fff;
    border-radius: 19px;
}
p,h2{
    color: #00a3ff;
    text-indent: 10px;
}
 .formTextArea_child textarea{
    background: rgba(251,251,251,0.9);
    box-shadow: 2px 2px 12px 4px rgba(4,0,121,0.15), inset 0px 1px 11px 5px rgb(3,195,255,0.26);
    border-radius: 10px;
}
.formTextArea_child button{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.25);
}